@model IEnumerable<AppRole>
 
@{
    Layout = "_Layout";
}

<table class="table-bordered" style="width: 100%">
    <tr class="table-dark">
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach(var role in Model) {
    <tr>
        <th>@role.Id</th>
        <th>@role.Name</th>
    </tr>
    }
</table>
