@model QuizAndAnswer.Models.Account.ChangePasswordViewModel

@{ 
    Layout = "_Layout";
} 

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label>Current password</label>
        <div><span asp-validation-for="CurrentPassword" class="text-danger"></span></div>
        <input asp-for="CurrentPassword" type="password"/>
    </div>
    <div class="form-group">
        <label>New password</label>
        <div><span asp-validation-for="NewPassword" class="text-danger"></span></div>
        <input asp-for="NewPassword" type="password" />
    </div>
    <div class="form-group">
        <label>Confirm new password</label>
        <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <input type="submit" value="Change Password" class="btn-info"/>
</form>