@model bool[]

@{
    Layout = "_Layout";
    ViewData["Title"] = "Quiz!";
}

<form asp-controller="Quiz" asp-action="Test" method="post">
<div asp-validation-summary="ModelOnly"></div>
@for(int i = 0; i < Model.Length; i++){
<div>
    <h2>@ViewBag.QuizList[i].QuestionDesc</h2>
    <select asp-for="@Model[i]">
        <option value="true">True</option>
        <option value="false">False</option>
        <option value="" selected="selected">Choose an answer</option>
    </select>
    <span asp-validation-for="@Model[i]" class="text-danger"></span>
</div>
    <br>
}
<input type="submit" content="Prześlij">
</form>